/*CSS Reset*/
*{
    margin:0;
    padding:0;
    }
    /*CSS Variable*/
    :root{
        --navbar-height:59px;
    }
    /*Navigation Bar*/
    #navbar{
    display: flex;
    align-items: center;
    }
    /*Navigation Bar: Logo and Image*/
    #logo{
        margin:10px 34px;
    }
    #logo img{
        height: 56 px;
        margin:10px 34px;
    }
        
        
    
    /*Navigation Bar: List Styling*/